body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url('/images/env.jpg');
    background-size: cover;
}
#board{
    width: 700px;
    height: 100vh;
    border: 2px solid red;
    background-image: url(images/road.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    /* background-position: 50% 50%; */
    animation: roadmove 4s infinite linear;
}

@keyframes roadmove {
    0%{background-position: 0 0 ;}
    100%{background-position: 0 100vh;}    
}